.container {
	display: flex;
	width: 80%;
	height: 80%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	text-align: center;
	border-radius: 5px;
	background: #f3c5e3;
	box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
	z-index: 2;
}

.content-container {
	height: 85%;
	background: white;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	width: 70%;
	overflow: scroll;
	box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
}

.joke-list {
	height: 100%;
}

.title {
	margin-top: 4rem;
	font-weight: strong;
	letter-spacing: 0.5rem;
	color: #ffffff;
	text-shadow: 5px 5px 0px #f79567;
}

.sidebar img {
	width: 80%;
	border-radius: 10px;
	margin-bottom: 1rem;
}

button {
	margin-top: 1rem;
	color: white;
	background: rgb(240, 189, 94);
	border-radius: 0.5rem;
	font-size: 0.8rem;
	padding: 0.6rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	box-shadow: 2px 5px 5px -4px rgba(0, 0, 0, 0.45);
	outline: none;
	cursor: pointer;
	width: 80%;
}

@media (min-width: 200px) {
	.title {
		font-size: 1rem;
		line-height: 2rem;
	}
}

@media (min-width: 768px) {
	.title {
		font-size: 2rem;
	}
}

@media (min-width: 1000px) {
	.title {
		font-size: 3.5rem;
		line-height: 4rem;
	}
}
